.comment {
    display: flex;
    align-items: center;
    margin: 0 20px 5px 20px;
}

.comment h2 {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}

.comment p {
    margin: 0 5px;
    font-size: 1rem;
}